
.app{
 background: #555;   
 min-height: 100vh;
 min-width: 100vw;
}

.appHeader{
    
}


.game{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}